@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~alertifyjs/build/css/alertify.min.css';
@import '~alertifyjs/build/css/themes/bootstrap.min.css';

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

app-root{
    box-shadow: -2px 12px 20px 0px;
}

